@font-face {
  font-family: "iconfont"; /* Project id 3461652 */
  src: url('iconfont.woff2?t=1655105109420') format('woff2'),
       url('iconfont.woff?t=1655105109420') format('woff'),
       url('iconfont.ttf?t=1655105109420') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wodekehu:before {
  content: "\e60f";
}

.icon-pinglun:before {
  content: "\e622";
}

.icon-sousuo:before {
  content: "\e623";
}

.icon-fenlei:before {
  content: "\e626";
}

