.free-wrapper {
    font-size: 14px;
    font-family: Microsoft YaHei;
    background-color: #eee;
    border-radius: 6px;
    display: flex;
    .free-menu {
        width: 60px;
        height: 100%;
        background: #448BE2;
        border-radius: 6px 0 0 6px;
        .free-menu-top {
            .free-icon-messages {}
        }
    }
}
.free-theme-default {}