.free-contact {
    display: flex;
    align-items: center;
    padding: 12px 10px;
    transition: .2s;
    cursor: pointer;
    overflow: hidden;
    color: #333;
    &:hover {
        background-color: #eceaea;
    }
    &.free-contact-active {
        background-color: #dadada;
    }

    .contact-content {
        flex: 1;
        overflow: hidden;
        margin-left: 8px;
    }
    .contact--nickname {
        margin-left: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .contact-info {
        
        display: flex;
        .contact-nickname {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .contact-lastmsg-time {
            margin-left: auto;
            color: #999;
            font-size: 12px;
        }
    }
    .contact-action {
        margin-left: auto;
        display: flex;
        margin-top: 1px;
        .contact-content-inner {
            display: flex;
            align-items: center;
            overflow: hidden;
        }
        .contact-lastmsg {
            color: #999;
            font-size: 12px;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .free-icon-error {
            font-family: 'iconfont';
            font-size: 14px;
            color: #FE2C30;
            padding-right: 3px;
            &:before {
                content: "\e625";
            }
        }
        .contact-ban {
            width: 16px;
            height: 16px;
            margin-left: auto;
        }
    }
}
